html {
    font-size: 13px;
}

body {
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    background-color: hsl(210, 46%, 95%);
}

main {
    display: grid;
    justify-items: center;
    grid-gap: 25px;
    width: 85%;
    margin: 50px auto;
}

.section {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-flow: row wrap;
    border-radius: 10px;
    padding: 0 30px 20px 0;
    box-shadow: 2px 2px 20px #c5c7c6;
}

.name-and-title {
    width: 50%;
    margin: 30px 0 0 15px;
}

.reviews {
    width: 90%;
    margin: 0 0 10px 30px;
}

.photo {
    border-radius: 50%;
    border: 2px solid rgb(183, 141, 214);
    width: 28px;
    height: 28px;
    margin: 30px 0 0 30px;
}

p.name {
    font-weight: 600;
    margin: 0;
}

p.title {
    opacity: 50%;
    font-weight: 500;
    margin: 0;
}

.pull-quote {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 30px
}

.main-quote {
    font-weight: 500;
    opacity: 70%;
    line-height: 1.5em;
}

#testimonial-one {
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: 93% 0%;
    background-repeat: no-repeat;
}

#testimonial-two {
    background-color: hsl(217, 19%, 35%);
}

#testimonial-three {
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

#testimonial-four {
    background-color: hsl(219, 29%, 14%);
}

#testimonial-five {
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

.attribution {
    margin: 10px 0 0 10px;
    color: hsl(217, 19%, 35%);
}

@media screen and (min-width: 768px) {

/* TABLET STYLES HERE */

    main {
        grid-template-columns: repeat(4, 1fr);
        justify-items: stretch;
        align-items: stretch;
    }

    #testimonial-one {
        grid-column: 1 / span 4;
    }

    #testimonial-two {
        grid-column: 3 / span 2;
    }

    #testimonial-three {
        grid-column: 1 / span 2;
        grid-row-start: 2;
    }

    #testimonial-four {
        grid-column: 1 / span 4;
        grid-row-start: 3;
    }

    #testimonial-five {
        grid-column: 1 / span 4;
        grid-row-start: 4;
    }
}

@media screen and (min-width: 1440px) {

/* DESKTOP STYLES HERE */

    main {
        grid-template-columns: repeat(4, 1fr);
        justify-items: stretch;
        align-items: stretch;
        margin-top: 200px;
    }

    #testimonial-one {
        grid-column: 1 / span 2;
    }

    #testimonial-two {
        grid-column: 3 / span 1;
        grid-row-start: 1;
    }

    #testimonial-three {
        grid-column: 1 / span 1;
        grid-row-start: 2;
    }

    #testimonial-four {
        grid-column: 2 / span 2;
        grid-row-start: 2;
    }

    #testimonial-five {
        grid-row: 1 / span 2;
        grid-column-start: 4;
    }
}